<nav class="navbar navbar-expand-lg navbar-light bgImg">
  <div class=" navRow" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-links">
      <li class="nav-item nav1">
        <%= link_to root_path(anchor: 'videos') do %>
          <%=  image_tag "episodesBtn.png", width:215, height:42 %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to info_path(anchor: 'title') do %>
          <%=  image_tag "infoBtn.png", width:155, height:45 %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to info_path(anchor: 'donateButton') do %>
          <%=  image_tag "donateBtn.jpg", width:165, height:50 %>
        <% end %>
      </li>
    </ul>
  </div>
   <%# </div> %>
</nav>
